In [5]:
import pandas as pd
import numpy as np

In [6]:
arr = [7, 8, 9, 10]
df = pd.Series(arr)

In [7]:
print(df)

0     7
1     8
2     9
3    10
dtype: int64

In [8]:
d = {'a':1,'b':2,'c':3,'d':4,'e':5}
df = pd.Series(d)
df

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [15]:
df.values

array([1, 2, 3, 4, 5], dtype=int64)

In [16]:
dates = pd.date_range('today',periods=6) # 定义时间序列作为 index

In [17]:
dates

DatetimeIndex(['2023-05-30 13:34:05.339514', '2023-05-31 13:34:05.339514',
               '2023-06-01 13:34:05.339514', '2023-06-02 13:34:05.339514',
               '2023-06-03 13:34:05.339514', '2023-06-04 13:34:05.339514'],
              dtype='datetime64[ns]', freq='D')

In [18]:
num_arr = np.random.randn(6,4) # 传入 numpy 随机数组
num_arr

array([[ 0.18182996, -0.81228401, -0.17317945, -1.26073142],
       [-0.36636624,  0.36977523,  0.58765137,  1.30690214],
       [ 1.68865257,  0.98661909,  0.33180738, -1.52692704],
       [-0.44629632, -1.15186252, -0.52787759,  0.79719987],
       [ 1.16995197,  0.81471553,  0.3434619 ,  0.4447075 ],
       [ 0.49277533, -0.37912946,  0.40649783, -0.61636441]])

In [20]:
columns = ['A','B','C','D'] # 将列表作为列名
df = pd.DataFrame(num_arr, index = dates, columns = columns)
df

                                   A         B         C         D
2023-05-30 13:34:05.339514  0.181830 -0.812284 -0.173179 -1.260731
2023-05-31 13:34:05.339514 -0.366366  0.369775  0.587651  1.306902
2023-06-01 13:34:05.339514  1.688653  0.986619  0.331807 -1.526927
2023-06-02 13:34:05.339514 -0.446296 -1.151863 -0.527878  0.797200
2023-06-03 13:34:05.339514  1.169952  0.814716  0.343462  0.444707
2023-06-04 13:34:05.339514  0.492775 -0.379129  0.406498 -0.616364

In [21]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

In [23]:
# 打印df信息
df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

In [24]:
df.loc[:, ['animal', 'age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0